@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professional @ViewData["Professional"]</p>

<address>
    <strong> More information: </strong> <a href="mailto:lucasmarthaussales@hotmail.com?subject="Sales MVC WebApp">lucasmarthaussales@hotmail.com</a>
</address>